[submodule "vimrc/bundle/nerdtree"]
	path = vimrc/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
